h1 {
    color: darkblue;
}

h3 {
    color: darkblue;
}

p {
    color: darkblue;
}

.widebar {
    width: 130%;
}

@media only screen and (max-width: 992px) {
    .widebar {
        width: 90%;
    }
}

.background {
    background-color: whitesmoke;
}

.line1 {
    background-color: darkred;
    width: 25ex;
    height: 1ex;
    position: relative;
    top: 5px;
    float: left;
}

.line2 {
    background-color: darkblue;
    width: 25ex;
    height: 1ex;
    position: relative;
    top: 5px;
    float: left;
}
